body{
    font-family: 'Hind Siliguri', sans-serif;
        color: #191919;
        /* background-color: #f3f3f3; */
    }
    .bannerImg{
        max-width: 100%;
    }
    .banner-txt{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .banner-txt h2{
        color: #03A9F4;
        font-weight: 600;
    }
    .menubar{
        background-color: #0f0f0f;
        
    }
    .menubar .logo{
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        margin-top: 9px;
    }
    .logo i {
        margin-right: 10px;
    }
    
    .menubar ul{
        display: flex;
        list-style: none;
        margin-bottom: 0;
        padding: 0;
    }
    
    .menubar ul li a{
        color: #fff;
        padding: 14px;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
    }
    .menubar ul li a:hover, .other-menu li ul li button:hover{
    color: #007bff;

    }
    button.MuiButton-containedPrimary{
    background-color: #007bff;
    }
    button.MuiButton-containedPrimary:hover{
        background-color: #007bff;
    }
    .active{
        color: #2879fe;
    }
    .other-menu{
        justify-content: flex-end;
    }
    .other-menu li{
        color: #fff;
        padding: 16px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
    }
    .other-menu li:hover ul{
        display: block;
    }
    .other-menu li ul{
        display: none;
        position: absolute;
        background: #fff;
        z-index: 9;
        flex-direction: column;
        width: 150px;
        right: 35px;
        top: 48px;
        box-shadow: 0px 2px 3px #d4d1d1;
    }
    .other-menu li ul li{
        padding: 0px;
    }
    .other-menu li ul li a, .other-menu li ul li button{
        font-size: 12px;
        color: #191919;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .other-menu li ul li a:hover{
        background-color: rgba(0, 0, 0, 0.04);
    }
    .other-menu li ul li button{
        width: 100%;
        align-items: center;
        justify-content: start;
    }
    .other-menu li ul li a svg, .other-menu li ul li button svg{
        margin-right: 5px;
    }
    .content-box{
        text-align: center;
        position: absolute;
        z-index: 9;
        color: #fff;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba(0,0,0,0.5);
        width: 100%;
        margin: 0 auto;
    }
    .content-box .sub-title span{
        border-bottom: 1px solid #fff;
    }
    
    .col{
        position: relative;
    }
    
    .section-title, .section-subtitle{
        font-size: 24px;
        line-height: 31px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .section-subtitle{
        font-size: 16px;
    }
    .productImg{
        background: #f6f8fc;
        height: 300px;
        line-height: 300px;
    }
    
    .fa.fa-star{
        color: #fefe56;
        font-size: 14px;
    }
    .product-card{
        transition: all 0.5s ease-in-out;
    }
    .product-card *{
        font-weight: 300;
    }
    .product-card .price{
        font-weight: 700;
    }
    
    .product-card .product-card-body{
        transition: all 0.4s ease-in-out;
        background: #fff;
        padding: 10px;
        position: relative;
        margin-bottom: 40px;
        top: 0;
        text-transform: capitalize;
    }
    .wishlist-card .product-card .product-card-body{
        margin-bottom: 0px;
        border-bottom: none;
        border-radius: 0px;
    }
    .wishlist-card .product-card .product-card-body:last-child{
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .product-title{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .product-card .product-card-body  .shoppingBagIcon{
    position: relative;
    top: -2px;
    }
    .product-card:hover{
            box-shadow: 0 5px 25px 0 rgba(0,0,0,0.08);
    }
    
    .product-card .btn-fav, .product-card .btn-view {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0 2px;
        width: 36px;
        height: 36px;
        font-size: 1.6rem;
        text-align: center;
        opacity: 0;
        transition: all .25s ease;
        transform: translateX(200%);
    }
    
    .product-card .btn-fav svg, .product-card .btn-view  svg{
    position: absolute;
    bottom: 6px;
    left: 8px;
    }
    .product-card:hover .product-action .btn-view, .product-card:hover .product-action .btn-fav {
        transform: translateX(0);
        opacity: 1;
    }
     .product-card:hover .btn-add-cart {
        background: #2b2b2d;
        border-color: #2b2b2d;
        color: #fff;
    }
    .category-card img.img-fluid{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .category-banner-txt{
        text-transform: uppercase;
        position: absolute;
        top: 64px;
        right: 100px;
    }
    .category-banner-txt h3 {
        font-size: 4.3125em;
        font-weight: 700;
        margin-bottom: 0px;
    }
    
    .category-banner-txt h4 {
        color: #999;
        font-size: 2.125em;
        font-weight: 500;
        margin-bottom: 0px;

    }
    .category-banner-txt h2 {
        font-size: 2.5em;
        margin-bottom: 0px;
    }
    
    .category-banner-txt .btn-dark {
        border-color: #222529;
        background-color: #222529;
        color: #fff;
        box-shadow: none;
        height: 59px;
        line-height: 48px;
        border-radius: 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .category-banner-txt .heading-border{
        font-size: 2.125em
    }

    .product-quantity-box button{
        height: 40px;
        min-width: auto;
    }
    .product-quantity-box .MuiOutlinedInput-root{
        height: 40px;
        width: 80px
    }